LinalColloc02.aux
DefinicionClases.sty
LinalColloc02.fdb_latexmk
LinalColloc02.fls
LinalColloc02.loe
LinalColloc02.log
LinalColloc02.out
LinalColloc02.synctex.gz
LinalColloc02.toc
LinalColloc02.upa
LinalColloc02.upb
LinalColloc02.pdf